@charset "UTF-8";
.comparison-container {
	position: relative;
	display: table;
	overflow: hidden;
}
.comparison-lhs,
.comparison-lhs-wrapper {
	position: absolute;
	top: 0;
	left: 0;
}
.comparison-lhs {
	display: block;
	max-width: none;
}
.comparison-lhs-wrapper {
	height: 100%;
	width: 50%;
	overflow: hidden;
}
.comparison-dragger {
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 100%;
	cursor: ew-resize;
}
.comparison-dragger::before {
	content: "";
	display: block;
	width: 0.4em;
	height: 100%;
	margin-left: -0.2em;
	background: rgba(255, 255, 255, 0.3);
}
.comparison-dragger::after {
	content: "◀ ▶";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2.2em;
	height: 2.2em;
	margin: -1.1em;
	border-radius: 100%;
	background: white;
	text-align: center;
	line-height: 2.2em;
	white-space: nowrap;
}

/* Page layout - not important */
body {
	font-family: Georgia, sans-serif;
	overflow-y: scroll;
}

img {
	display: block;
	width: 100%;
}

.caption {
	display: inline-block;
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
	padding: 0.5em;
	background: rgba(255, 255, 255, 0.7);
}

.comparison-container {
	max-width: 1500px;
	margin: auto;
}

.comparison-lhs .caption {
	right: auto;
	left: 0.5em;
}
